body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

/* start menu section */

.fixed-header {
  height: 69px;
  margin: 10px;
  position: fixed;
}

#logo {
  height: 50px;
  display: inline-block;
  align-items: left;
}

nav {
  text-align: right;
}

/* start main text elements */

h4 {

}

h2 {

}

p {

}

/* start main section flexbox */

.header-img {

}

/* start tea section flexbox */

.tea-flex {

}

.tea-container {

}

/* start locations section flexbox */

.flex-locations {

}

.locations-item {

}

/* start footer section flexbox */

footer {

}

.email {

}

.phone {

}

.left {

}
