body {
  font-family: helvetica;
  font-size: 22px;
  background-color: #000;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

/* start menu section */

.fixed-header {
  height: 69px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; /* Logo left, Menu right */
  align-items: center; /* Vertically center items */
  background-color: #000;
  z-index: 2;
}

#logo {
  height: 50px;
  order: 1;
  margin-left: 10px;
  background-color: black;
}

nav {
  order: 2;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding-right: 10px;
  text-decoration: underline;
  margin-right: 10px;
  background-color: black;
}

/* start main text elements */

h4 {

}

h2 {

}


p {

}

/* start main section flexbox */

.header-img {
  position: relative;
  /* Set the container size as needed (e.g., max-width: 600px; height: auto;) */
  display: flex; /* Make it a flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100vw;

}

.header-img .banner {
  width: 100%;
  height: auto;
  display: block;
  
}

.centered {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Precise centering */
  color: white; /* Make text readable */
  text-align: center;
  padding: 10px;
  z-index: 1;
}

.mission {
  color: white;
}

.banner-text {
  color: white;
}

/* start tea section flexbox */

.tea-flex {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.tea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.tea-img {
  display: block;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  object-fit: contain;
}

/* start locations section flexbox */

.flex-locations {

}

.locations-item {

}

/* start footer section flexbox */

footer {

}

.email {

}

.phone {

}

.left {

}
