body {
  font-family: helvetica;
  font-size: 22px;
  background-color: #000;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

/* start menu section */

.fixed-header {
  height: 69px;
  margin: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Logo left, Menu right */
  align-items: center; /* Vertically center items */
  padding: 10px 20px;
  z-index: 1000;
}

#logo {
  height: 50px;
  order: 1;
}

nav {
  order: 2;
  display: flex;
  list-style: none
}

/* start main text elements */

h4 {

}

h2 {

}

p {

}

/* start main section flexbox */

.header-img {

}

/* start tea section flexbox */

.tea-flex {

}

.tea-container {

}

/* start locations section flexbox */

.flex-locations {

}

.locations-item {

}

/* start footer section flexbox */

footer {

}

.email {

}

.phone {

}

.left {

}
