body {
  font-family: helvetica;
  font-size: 22px;
  background-color: #000;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

/* start menu section */

.fixed-header {
  position: relative;
  height: 69px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; /* Logo left, Menu right */
  align-items: center; /* Vertically center items */
  background-color: #000;
  height: 100vh;
}

#logo {
  height: 50px;
  order: 1;
  margin-left: 10px;
  background-color: black;
}

nav {
  order: 2;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding-right: 10px;
  text-decoration: underline;
  margin-right: 10px;
  background-color: black;
}

/* start main text elements */

h4 {

}

h2 {

}


p {

}

/* start main section flexbox */

.header-img {
  position: relative;
  text-align: center;
  max-width: 100%;
}

.banner {
  object-fit: fill;
}

.centered {
  background-color: black;
  text-align: center;
  position: relative;
  max-width: 100%;
}

.mission {
  color: white;
}

.banner-text {
  color: white;
}

/* start tea section flexbox */

.tea-flex {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.tea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  max-width: 100%;
  margin: auto;
}

.tea-img {
  display: block;
  height: auto;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  object-fit: contain;
}

/* start locations section flexbox */

.flex-locations {

}

.locations-item {

}

/* start footer section flexbox */

footer {

}

.email {

}

.phone {

}

.left {

}
