body {
  font-family: helvetica;
  font-size: 22px;
  background-color: #000;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

/* start menu section */

.fixed-header {
  height: 69px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; /* Logo left, Menu right */
  align-items: center; /* Vertically center items */
  background-color: #000;
}

#logo {
  height: 50px;
  order: 1;
}

nav {
  order: 2;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding-right: 10px;
  text-decoration: underline;
}

/* start main text elements */

h4 {

}

h2 {

}


p {

}

/* start main section flexbox */

.header-img {
  position: relative;
  text-align: center;
}

.mission {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* start tea section flexbox */

.tea-flex {

}

.tea-container {

}

/* start locations section flexbox */

.flex-locations {

}

.locations-item {

}

/* start footer section flexbox */

footer {

}

.email {

}

.phone {

}

.left {

}
